@import "leaflet/dist/leaflet.css";
.card-actions { margin-top: 10px; border-top: 1px solid #333; padding-top: 8px; }
.verify-btn { 
  background: transparent; 
  border: 1px solid #27ae60; 
  color: #27ae60; 
  padding: 4px 10px; 
  border-radius: 4px; 
  font-size: 11px; 
  cursor: pointer; 
  transition: 0.2s; 
}
.verify-btn:hover { background: #27ae60; color: white; }
#map { 
  height: 100vh !important; 
  width: 100vw !important; 
  display: block;
}